<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
        xmlns="http://www.springframework.org/schema/integration"
        xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
        xmlns:int-http="http://www.springframework.org/schema/integration/http"
        xmlns:beans="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:int="http://www.springframework.org/schema/integration"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context.xsd
						   http://www.springframework.org/schema/integration
						   http://www.springframework.org/schema/integration/spring-integration.xsd
						   http://www.springframework.org/schema/integration/http
						   http://www.springframework.org/schema/integration/http/spring-integration-http.xsd
						   http://www.springframework.org/schema/integration/xml
						   http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd">

    <channel id="loginChannel" />
    <channel id="loggedInChannel" />

    <int-http:inbound-gateway
            request-channel="loginChannel"
            reply-channel="loggedInChannel"
            supported-methods="POST"
            reply-timeout="30000"
            path="/login" />


    </beans:beans>